<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="index.js" charset="utf-8" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    <script src="/message.js" charset="utf-8" defer></script>
    <title>Potatos</title>
</head>
<body>
    <div class = "header">
        <h1 id="site-title">Potate</h1>
    </div>
    <div class="nav-bar">
        <a href="/" class ="nav-item">Home</a>
        <a href="/about" class ="nav-item">About</a>
        <a class ="nav-item new-message">New Message</a>
        <a class ="nav-item new-potato">New Potato</a>
    </div>
    {{{body}}}

</body>
</html>