    <div class = "container">
        <img class = "main-image" src="potato.png">
        <img class = "clipping-background" src="Clip-Background.png">
        {{#each messages}}
            {{>message}}
        {{/each}}
    </div>
    <div class = "footer hidden">
    <form action="/images" method="post" enctype="multipart/form-data" class="hidden potatoSubmit">
        <input type="file" name="image">
        <button type="submit">Submit</button>
    </form>
    <form action="" method="post" enctype="multipart/form-data" class="hidden messageSubmit">
        <input type="text" name="message" calss ="messageText">
        <button type="submit" class="messageSubmitButton">Submit</button>
      </form>
    </div>



      <!--
    <div id="modal-backdrop" class="hidden"></div>
    <div id="create-message-modal" class="hidden">
    <div class="modal-dialog">

    <div class="modal-header">
        <h3>Create a Message</h3>
        <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
    <div class="message-input-element">
        <label for="message-text-input">Message</label>
        <textarea id="message-text-input"></textarea>
    </div>
    <div class="message-input-element">
        <label for="message-author-input">Author</label>
        <input type="text" id="message-author-input">
    </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="modal-cancel-button">Cancel</button>
        <button type="button" class="modal-accept-button">Create Message</button>
    </div>
    </div> 
    </div>-->